<body>
    <div>
  <a href="/rock">
    Play Rock
  </a>
</div>

<div>
  <a href="/paper">
    Play Paper
  </a>
</div>

<div>
  <a href="/scissors">
    Play Scissors
  </a>
</div>

<% they_played = @rolls[0] %>

<h2>
  We played Paper!
  <br>
  <br>
  They played <%= they_played %>!
</h2>

<%= if they_played == "Scissors"

outcome = "We lost!"

elsif they_played == "Rock"

outcome = "We won!"

elsif they_played == "Paper"

outcome = "We tied!"

end%>

<div>
  <a href="/">
    Rules
  </a>
  </div>
