<body>
    <div>
  <a href="/rock">
    Play Rock
  </a>
</div>

<div>
  <a href="/paper">
    Play Paper
  </a>
</div>

<div>
  <a href="/scissors">
    Play Scissors
  </a>
</div>

 <% @rolls.each do |a_roll| %>
    <h2>
      We played <%= a_roll %>!
    <br>
    <br>
      They played <%= a_roll %>!
   
  <% end %>
    </h2>

<div>
  <a href="/">
    Rules
  </a>
  </div>
